@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Abeer Restaurant</h1>
    <p>This is the home page for Abeer Restaurant, where food is most delicious!</p>

    <img src="~/images/restaurant.jpg" alt="Abeer Restaurant Front" class="img-fluid mt-4" style="max-width: 100%; height: auto;">

</div>
