@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Abeer Restaurant</h1>
    <p>This is the home page, where food will be presented here.</p>
</div>
